<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/adduser">Add Employee<span class="sr-only">(current)</span></a>
            </li>       
          </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/users">Update Employee<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/users">Delete Employee<span class="sr-only">(current)</span></a>
        </li>       
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/users">View Employee<span class="sr-only">(current)</span></a>
        </li>       
      </ul>
      
    </div>
  </nav>
  <div class="container">
  </div>