<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

     <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/admin">HOME<span class="sr-only">(current)</span></a>
          </li>       
        </ul> <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/admin">ABOUT US<span class="sr-only">(current)</span></a>
          </li>       
        </ul> <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/loginpage">LOGIN<span class="sr-only">(current)</span></a>
          </li>       
        </ul>
    
  </div>
</nav>
<div class="container">
</div>
<router-outlet></router-outlet>