

<!--------------------------Admin home page---------------->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/employee">MANAGE EMPLOYEE DETAILS<span class="sr-only">(current)</span></a>
            </li>       
          </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/review">ASSIGN REVIEW<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/loginpage">LOGOUT <span class="sr-only">(current)</span></a>
        </li>       
      </ul>
      
    </div>
  </nav>
  <div class="container">
  </div>

  <!----------------------------END-------------------------->